<div class="row">
    <div class="col-md-12 text-center">
        <h2>Escolha o modo de jogo</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <button class="btn btn-default" type="button" ui-sref="game.start({category: vm.category, gameMode: 'SINGLE_PLAYER'})">
            <i class="fa fa-user fa-5x"></i>
            Single player
        </button>
    </div>
    <div class="col-md-6 text-center">
        <button class="btn btn-default" type="button" ui-sref="game.start({category: vm.category, gameMode: 'MULTIPLAYER'})">
            <i class="fa fa-users fa-5x"></i>
            Multiplayer
        </button>
    </div>
</div>