<div class="row" ng-if="vm.gameMode !== 'MULTIPLAYER'">
    <div class="col-md-12 text-center">
        <game-letters-layout category="vm.category" game-mode="vm.gameMode" ng-if="vm.category.type === 'LETTERS'"></game-letters-layout>
        <game-pictures-layout category="vm.category" game-mode="vm.gameMode" ng-if="vm.category.type === 'PICTURES'"></game-pictures-layout>
    </div>
</div>
<div class="row hidden" ng-if="vm.gameMode === 'MULTIPLAYER'">
    <div class="text-left rotate-left">
        <game-letters-layout category="vm.category" game-mode="vm.gameMode" ng-if="vm.category.type === 'LETTERS'"></game-letters-layout>
        <game-pictures-layout category="vm.category" game-mode="vm.gameMode" ng-if="vm.category.type === 'PICTURES'"></game-pictures-layout>
    </div>
    <div class="text-right rotate-right">
        <game-letters-layout category="vm.category" game-mode="vm.gameMode" ng-if="vm.category.type === 'LETTERS'"></game-letters-layout>
        <game-pictures-layout category="vm.category" game-mode="vm.gameMode" ng-if="vm.category.type === 'PICTURES'"></game-pictures-layout>
    </div>
</div>
